
.menu-main {
  padding-top: 30px;

  &__list {
    list-style-type: none;
    padding: 0;
  }

  &__elem {
    padding: 5px 0;
    margin: 16px 0;

    &::before {
      content: "";
      margin-right: 15px;
      border-left: 4px solid $marker_color;
      opacity: 0;
      transition: 0.2s;

    }

    &:focus-within::before{
      opacity: 1;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &__link {
    @include font(1rem, $text-main, $family-medium);

    &:hover {
      color: $text-second;
    }

    &:focus-within {
      color: $text-second;
      filter: drop-shadow(4px 3px 2px #ccc);
    }

    &:active {
      color: $ic_circle_color;
      filter: drop-shadow(4px 4px 2px #ccc);
    }

  }

}
