
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 320px;
  height: 100%;
  background-color: $bg-sidebar;
  transition: linear 0.5s;


  @media only screen and (max-width: 768px) {
    position: absolute;
    top: 0;
    left: -450px;
    z-index: 9998;
    box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
  }
}





