
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  #sidebar-hidden__closed{

    @media only screen and (min-width: 768px) {
      display: none;
    }

  }
}
