
.footer {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  @include font(0.9rem, $text-main, $family-regular);
  @media only screen and (max-width: 510px) {
    flex-direction: column;
    padding: 14px;

  }
  &__blocks{
    width: 33%;
    @media only screen and (max-width: 510px) {
      width: 100%;
    }
  }
  &__copywriter{
    text-align: left;
    @media only screen and (max-width: 510px) {
      text-align: center;
    }
    &--uppercase{
      display: block;
      text-transform: uppercase;
    }
  }
  &__link{
    text-align: center;
  }
  &__info{
    text-align: right;
    @media only screen and (max-width: 510px) {
      text-align: center;
    }
  }
}
