//Color
$text-main: #1B1C21;
$text-second: #7E7E82;
$input-text: #B5B6BC;
$border-color: #B8FFEC;
$border-separator: #D9FFF5;
$border-separator-header: #EAEAEA;
$border-catalogBtn: #EAEAEA;
$ic_circle_color: #FF3E79;
$marker_color: #41F6D7;
$bg-sidebar: #fff;
$bg-content: #F8F8F8;
//Fonts

$family-regular: 'TTLakes-Regular', sans-serif;
$family-bold: 'TTLakes-Bold', sans-serif;
$family-medium: 'TTLakes-Medium', sans-serif;
